<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>17-10-30 下午3.14 拍摄的照片.jpg</string>
	<string>17-10-30 下午3.14 拍摄的照片 #2.jpg</string>
	<string>17-10-30 下午3.14 拍摄的照片 #3.jpg</string>
	<string>17-10-30 下午3.15 拍摄的照片.jpg</string>
	<string>17-10-30 下午3.16 拍摄的照片.jpg</string>
	<string>17-10-30 下午3.16 拍摄的照片 #2.jpg</string>
	<string>17-10-30 下午3.16 拍摄的照片 #3.jpg</string>
	<string>17-10-30 下午3.17 拍摄的照片.jpg</string>
</array>
</plist>
